.scrollablePockets {
  height: 360px;
  /*width: auto;*/
  max-height: 360px;
  overflow: scroll;
}

#mygraph {
  width: 800px;
  height: 600px;
  border: 1px solid lightgray;
  margin-left: auto;
  margin-right: auto;
}
